body, html{
  height:100%;
}
body{
  margin: 0px;
  background-color:#444;
  background-image: url("/Users/student/code/hrsf95-subclass-dance-party/assets/Bobs_street_scene.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}

.dancer, .blinkyDancer, .fadedDancer, .shimmyDancer{
  position: absolute;
}

.lineup{
  padding:5px 12px;
  float:left;
}